{% extends 'base.html' %} {% block content %}


<div class="container-fluid">

    <div class="row">
        <div class="col-4 mt-3 left">
            <h2>Mech Data</h2>
            <p>Name: {{ active_mech.mech.name }}</p>
            <p>Category: {{ active_mech.mech.get_category_display }}</p>
            <p>Weight: {{ active_mech.mech.get_weight_display }}</p>
            <p>Tech Level: {{ active_mech.mech.get_tech_level_display }}</p>
            <p>Role: {{ active_mech.mech.get_role_display }}</p>
            <p>Slug: {{ active_mech.mech.slug }}</p>
            <p>Stock: {{ active_mech.mech.stock }}</p>
            <p>Description: {{ active_mech.mech.description }}</p>
            <p>Record Sheet: {{ active_mech.mech.record_sheet }}</p>
            <p>BV: {{ active_mech.mech.battle_value }}</p>
            <p>Status: {{ active_mech.mech.get_status_display }}</p>
        </div>
        <div class="col-4 mt-3 left">
            <h2>Pilot Data</h2>
            <p>{{ active_mech.pilot.callsign }}</p>
            <p>Gunnery: {{ active_mech.pilot.gunnery }}</p>
            <p>Piloting: {{ active_mech.pilot.piloting }}</p>
            <p>Experience: {{ active_mech.pilot.experience }}</p>
            <p>Status: {{ active_mech.pilot.get_status_display }}</p>
            <p>BV Modifier: {{ bv_mod }}</p>
        </div>
        <div class="col-4 mt-3 left">

        </div>
    </div>


</div>

{% endblock content %}