{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1>This is Active Mechs List</h1>
    <div class="row">

        <!-- TODO Work on this -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <table class="table">
                  <thead>
                    <tr>mech_create
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Pilot <a href="/pilots/add/"><i class="fa fa-plus-circle"></i></a></th>
                      <th scope="col">Mech <a href="/mechs/add/"><i class="fa fa-plus-circle"></i></a></th>
                      <th scope="col">Tech Level <a href="{% url 'mech_create' %}"><i class="fa fa-plus-circle"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for activemech in activemech_list %}
                    <tr>
                      <th scope="row">{{ activemech.pk }}</th>
                      <td>
                        <a href="{% url 'active_mech_detail' activemech.slug  %}">{{ activemech.name }}</a>
                      </td>
                      <td>
                        <a href="{% url 'pilot_detail' activemech.pilot.slug  %}">{{ activemech.pilot.callsign }}</a>
                        {{ activemech.pilot.gunnery }} /
                        {{ activemech.pilot.piloting }}
                      </td>
                      <td>
                        <a href="{% url 'mech_detail' activemech.mech.slug  %}">{{ activemech.mech}}</a> 
                      </td>
                      <td>
                        {{ activemech.mech.get_tech_level_display }}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  </table>              
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
       pagination logic here
    </nav>
    {% endif %}
</div>
{%endblock%}