{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1>This is Active Mechs List</h1>
    <div class="row">

        <!-- Pilot Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">name</th>
                      <th scope="col">pilot</th>
                      <th scope="col">mech</th>                     
                    </tr>
                  </thead>
                  <tbody>
                  {% for mech in activemech_list %}
                    <tr>
                      <th scope="row">{{ mech.pk }}</th>
                      <td>{{ mech.name }}</td>
                      <td>{{ mech.pilot }}</td>
                      <td>{{ mech.mech }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  </table>              
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
       pagination logic here
    </nav>
    {% endif %}
</div>
{%endblock%}