{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>This is Active Mechs List</h1>
    <div class="row">
      <ul>
        <li><span class="icon-mixed"></span>: Protype / Mixed Tech</li>
        <li><span class="icon-clan"></span>: Clan Tech</li>
        <li><span class="icon-inner-sphere"></span>: Successor State Tech</li>
      </ul>
        <!-- TODO Work on this -->
        <div class="col-12">
            <div class="row">
                <table class="table table-responsive-sm">
                  <thead>
                    <tr>
                      <!-- <th scope="col">#</th> -->
                      <th scope="col">Name</th>
                      <th scope="col">Pilot <a href="{% url 'pilot_create' %}"><i class="fa fa-plus-circle"></i></a></th>
                      <th scope="col">Mech <a href="{% url 'mech_create' %}"><i class="fa fa-plus-circle"></i></a></th>
                      <th scope="col">Tech Level</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for activemech in activemech_list %}
                    <tr>
                      <!-- <th scope="row">{{ activemech.pk }}</th> -->
                      <td>
                        <a href="{% url 'active_mech_detail' activemech.slug  %}">{{ activemech.name }}</a>
                      </td>
                      <td>
                        <a href="{% url 'pilot_detail' activemech.pilot.slug  %}">{{ activemech.pilot.callsign }}</a>
                        {{ activemech.pilot.gunnery }} /
                        {{ activemech.pilot.piloting }}
                      </td>
                      <td>
                        <a href="{% url 'mech_detail' activemech.mech.slug  %}">{{ activemech.mech}}</a> 
                      </td>
                      <td>
                        {% if activemech.mech.get_tech_level_display == "Inner Sphere" %}
                          <span class="icon-inner-sphere"></span>
                        {% elif activemech.mech.get_tech_level_display == "Clan" %}
                          <span class="icon-clan"></span>
                        {% else %}
                          <span class="icon-mixed"></span>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  </table>              
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
       pagination logic here
    </nav>
    {% endif %}

</div>
{%endblock%}