{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1>All Mechs In Inventroy</h1>
    <div class="row">

        <!-- Pilot Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Tech Level</th>
                        <th scope="col">Role</th>
                        <th scope="col">Record Sheet</th>
                        <th scope="col">Base BV</th>
                        <th scope="col">status</th>                     
                      </tr>
                    </thead>
                    <tbody>
                    {% for mech in mech_list %}
                      <tr>
                        <th scope="row">{{ mech.pk }}</th>
                        <td><a href="{% url 'mech_detail' mech.slug  %}">{{ mech.name }}</a></td>
                        <td>{{ mech.get_category_display }}</td>
                        <td>{{ mech.get_weight_display }}</td>
                        <td>{{ mech.get_tech_level_display }}</td>
                        <td>{{ mech.get_role_display }}</td>
                        <td>
                          <a href="{{ mech.record_sheet }}" target="_blank"><button class="btn">Go to PDF <i class="fa fa-download"></i></button></a>
                        </td>
                        <td>{{ mech.battle_value }}</td>
                        <td>{{ mech.get_status_display }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>              
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
       pagination logic here
    </nav>
    {% endif %}
</div>
{%endblock%}